---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Section_uno from "../components/Section_uno.astro";
import Section_dos from "../components/Section_dos.astro";
import Section_tres from "../components/Section_tres.astro";
import Section_cuatro from "../components/Section_cuatro.astro";
import Llamada from "../components/Llamada.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Discord | Tu sitio para hablar y pasar el rato | Clon">
  <main>
    <Banner />
    <Section_uno />
    <Section_dos />
    <Section_tres />
    <Section_cuatro />
    <Llamada />
    <Footer />
  </main>
</Layout>
