---

---

<div class="banner">
  <div class="navbar">
    <img src="Logo.svg" alt="" />
    <nav>
      <ul>
        <li><a href="#">Download</a></li>
        <li><a href="#">Nitro</a></li>
        <li><a href="#">Discover</a></li>
        <li><a href="#">Safety</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </nav>
    <a href="#" class="button_login">Login</a>
  </div>

  <div class="llamada">
    <h1>IMAGINA UN LUGAR...</h1>
    <span class="text">
      ... en el que puedas formar parte de un club escolar, un grupo de jugadores o una comunidad mundial de arte. En el que
      puedas pasar tiempo con unos cuantos amigos. Un lugar que haga que hablar a diario y divertirte más a menudo sea fácil.
    </span>
    <div class="llamda_button-down">
      <a href="#" class="dowmload"><i class="fa-solid fa-download"></i> Descargar para Windows</a>
      <a href="#" class="open_nav">Abrir Discord en tu Navegador</a>
    </div>
  </div>
  <div class="images">
    <img class="Banner-1" src="Banner-1.svg" alt="" />
    <img class="Banner-2" src="Banner-2.svg" alt="" />
    <img class="Banner-3" src="Banner-3.svg" alt="" />
  </div>
</div>
<style>
  /* Banner Imagen */
  .images {
    width: 100%;
    background-color: #404eed;
    position: absolute;
    top: 0;
    z-index: -2;
    height: 97vh;
    overflow: hidden;
  }

  .Banner-1 {
    width: 180%;
    position: absolute;
    bottom: 0;
    left: -42.5%;
  }

  .Banner-2 {
    position: absolute;
    bottom: 0;
    left: -26%;
  }

  .Banner-3 {
    position: absolute;
    bottom: 0;
    right: -22%;
  }
  /* Banner */

  .navbar {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 30px auto;
    align-items: center;
    margin-bottom: 150px;
  }

  .navbar ul {
    display: flex;
    gap: 45px;
  }

  .navbar ul li {
    list-style: none;
  }

  .navbar ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }

  .navbar ul li a:hover {
    text-decoration: underline;
  }

  .button_login {
    color: black;
    text-decoration: none;
    font-size: 12px;
    padding: 10px;
    width: 5%;
    text-align: center;
    border-radius: 50cqh;
    background-color: white;
  }

  .button_login:hover {
    color: #404eed;
  }

  /* BANNER TEXT */
  .llamada {
    text-align: center;
    max-width: 62%;
    margin: auto;
    color: #fff;
  }

  h1 {
    font-family: abc bold;
    font-size: 58px;
    margin: 20px;
  }

  .llamada span {
    font-family:
      gg sans regular,
      Arial,
      Helvetica,
      sans-serif;
    font-size: 20px;
    line-height: 33px;
  }

  /*  Estilos de Botones */
  .llamda_button-down {
    margin: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .dowmload {
    font-family:
      gg sans medium,
      Arial,
      Helvetica,
      sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 15px 50px;
    color: rgb(41, 41, 41);
    text-decoration: none;
    background-color: white;
    border-radius: 50cqh;
  }

  .open_nav {
    font-family:
      gg sans medium,
      Arial,
      Helvetica,
      sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 15px 50px;
    color: white;
    text-decoration: none;
    background-color: #23272a;
    border-radius: 50cqh;
  }

  .dowmload:hover {
    color: #404eed;
  }

  .open_nav:hover {
    background-color: #34373a;
  }

  .banner {
    margin-bottom: 100px;
  }
</style>
