---

---

<div class="principal">
  <div class="container_redes">
    <div class="span">
      <img class="icon" src="Icon-Span.png" alt="" />
      <span>Español <i class="fa-solid fa-chevron-down"></i></span>
    </div>
    <div class="redes">
      <img src="Twitter.svg" alt="" />
      <img src="Instagram.svg" alt="" />
      <img src="Facebook.svg" alt="" />
      <img src="Youtube.svg" alt="" />
      <img src="Tiktok.svg" alt="" />
    </div>
  </div>

  <div class="menu">
    <div class="container_menu">
      <div class="producto">
        <a href="#" class="blue">Producto</a>
        <a href="#" class="white">Descargar</a>
        <a href="#" class="white">Nitro</a>
        <a href="#" class="white">Estado</a>
        <a href="#" class="white">Direccion de apps</a>
        <a href="#" class="white">Nueva experiencia movil</a>
      </div>
      <div class="compañia">
        <a href="#" class="blue">Sobre Nosotros</a>
        <a href="#" class="white">Trabajos</a>
        <a href="#" class="white">Marca</a>
        <a href="#" class="white">Noticias</a>
        <a href="#" class="white">Actualizacion de otoño</a>
      </div>
      <div class="recursos">
        <a href="#" class="blue">Recursos</a>
        <a href="#" class="white">Universidad</a>
        <a href="#" class="white">Soporte Tecnico</a>
        <a href="#" class="white">Seguridad</a>
        <a href="#" class="white">Blog</a>
        <a href="#" class="white">Opiniones</a>
        <a href="#" class="white">Stream Kit</a>
        <a href="#" class="white">Creadores</a>
        <a href="#" class="white">Comunidad</a>
        <a href="#" class="white">Desarrolladores</a>
        <a href="#" class="white">Juegos</a>
        <a href="#" class="white">Merchandising oficial de terceros</a>
      </div>
      <div class="politicas">
        <a href="#" class="blue">Condiciones</a>
        <a href="#" class="white">Privacidad</a>
        <a href="#" class="white">Ajustes de cookies</a>
        <a href="#" class="white">Directivas</a>
        <a href="#" class="white">Agradecimientos</a>
        <a href="#" class="white">Licencias</a>
        <a href="#" class="white">Información de la empresa</a>
      </div>
    </div>
  </div>

  <hr />

  <div class="menu_down">
    <img src="Logo.svg" alt="Logo" />
    <a href="#">Resgistrate</a>
  </div>
</div>

<style>
  .principal {
    background-color: #23272a;
    height: 100vh;
    padding: 20px;
  }

  .container_redes {
    display: flex;
    flex-direction: column;
    margin: 40px 60px;
    width: 19%;
    position: absolute;
  }

  .span {
    font-size: 14px;
    margin: 40px 0;
    color: white;
  }

  .redes img {
    margin-right: 20px;
  }

  .icon {
    width: 20px;
  }

  /* Menu */
  .container_menu {
    display: flex;
    justify-content: end;
    gap: 30px;
    margin: 50px 100px 20px 100px;
  }

  .container_menu a {
    text-decoration: none;
    font-family:
      gg sans regular,
      Arial,
      Helvetica,
      sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin: 5px;
  }

  .container_menu a:hover {
    text-decoration: underline;
  }

  .producto {
    display: flex;
    flex-direction: column;
  }

  .compañia {
    display: flex;
    flex-direction: column;
  }

  .recursos {
    display: flex;
    flex-direction: column;
    width: 15%;
  }

  .politicas {
    display: flex;
    flex-direction: column;
    width: 15%;
  }

  .blue {
    color: #5865f2;
  }

  .white {
    color: #fff;
  }

  .menu_down {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
  }

  hr {
    width: 90%;
    margin: auto;
    color: #5865f2;
  }

  .menu_down a {
    color: white;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    padding: 6px 16px;
    font-family:
      gg sans regular,
      Arial,
      Helvetica,
      sans-serif;
    font-weight: 500;
    background-color: #5865f2;
    border-radius: 50cqh;
  }

  .menu_down a:hover {
    background-color: #6c74d6;
  }

  i {
    font-size: 8px;
    margin: 5px;
  }

  .redes img {
    fill: red;
  }
</style>
