---

---

<div class="llamada">
  <div class="llamada_text">
    <img src="Estrellas.svg" alt="" />
    <h1>¿Todo listo para comenzar tu viaje?</h1>
    <div class="llamada_button">
      <a href="#" class="dowmload"><i class="fa-solid fa-download"></i> Descargar para Windows</a>
    </div>
  </div>
</div>
<style>
  .llamada {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .llamada h1 {
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    font-weight: 710;
    font-family:
      gg sans regular,
      Arial,
      Helvetica,
      sans-serif;
  }

  .dowmload {
    font-family:
      gg sans medium,
      Arial,
      Helvetica,
      sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding: 20px 40px;
    color: white;
    text-decoration: none;
    background-color: #5865f2;
    border-radius: 50cqh;
    margin: auto;
  }

  .dowmload:hover {
    background-color: #6972da;
  }

  .llamada_button {
    margin: 60px 100px;
  }
</style>
