---

---

<div class="section_uno">
  <img src="Image-1.svg" alt="Imagen 1" />
  <div class="section_text">
    <h1>Crea un lugar solo para miembros en el que encajes</h1>
    <span
      >Los servidores de Discord se organizan en canales ordenados por temas donde puedes colaborar, compartir o simplemente
      hablar de tu día sin monopolizar un chat de grupo.</span
    >
  </div>
</div>

<style>
  .section_uno {
    height: 110vh;
    display: flex;
    width: 86%;
    align-items: center;
    margin: auto;
    justify-content: center;
  }

  .section_text {
    width: 30%;
  }

  .section_text h1 {
    font-family:
      gg sans bold,
      Arial,
      Helvetica,
      sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #23272a;
    margin: 30px 0px;
  }

  .section_text span {
    font-family:
      gg sans bold,
      Arial,
      Helvetica,
      sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #23272a;
  }
</style>
