---

---

<div class="section_dos">
  <div class="text">
    <h1>Donde es fácil pasar el rato</h1>
    <span
      >Entra en un canal de voz cuando estés libre. Los amigos que tengas en tu servidor podrán ver que estás conectado y unirse
      al instante para hablar sin necesidad de llamar.</span
    >
  </div>
  <img src="Image-02.svg" alt="Imagen 2" />
</div>
<style>
  .section_dos {
    display: flex;
    align-items: center;
    margin: auto;
    width: 86%;
    height: 100vh;
  }

  .section_dos {
    width: 80%;
  }

  .section_dos h1 {
    font-family:
      gg sans bold,
      Arial,
      Helvetica,
      sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #23272a;
    margin: 30px 0px;
  }

  .section_dos span {
    font-family:
      gg sans bold,
      Arial,
      Helvetica,
      sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #23272a;
  }
</style>
