---

---

<div class="section_cuatro">
  <div class="section_text">
    <h1>UNA TECNOLOGIA FIABLE PARA MANTENERSE EN CONTACTO</h1>
    <span
      >Gracias a la voz y el vídeo de baja latencia, parece que estáis en la misma habitación. Saluda a la cámara, accede a las
      transmisiones de los juegos de tus amigos o reuníos y disfrutad de una sesión de dibujo compartiendo la pantalla.</span
    >
  </div>
  <img src="Image-04.svg" alt="" />
</div>

<style>
  .section_cuatro {
    margin-top: 120px;
    text-align: center;
  }

  .section_text {
    width: 76%;
    text-align: center;
    margin: auto;
  }

  .section_text h1 {
    font-family:
      abc bold,
      Arial,
      Helvetica,
      sans-serif;
    font-size: 58px;
    font-weight: 1000;
    font-size: 40px;
    line-height: 38px;
    color: #23272a;
    margin-bottom: 40px;
  }

  .section_text span {
    font-family:
      gg sans regular,
      Arial,
      Helvetica,
      sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #23272a;
  }

  img {
    width: 90%;
  }
</style>
