---

---

<div class="section_tres">
  <img src="Image-03.svg" alt="Image 03" />
  <div class="section_text">
    <h1>De unos pocos fans a un montón</h1>
    <span
      >Establece cualquier comunidad con las herramientas de moderación y el acceso personalizado de miembros. Concédeles poderes
      especiales, crea canales privados y mucho más.</span
    >
  </div>
</div>
<style>
  img {
    width: 60%;
  }

  .section_tres {
    display: flex;
    align-items: center;
    margin: auto;
    width: 86%;
    height: 100vh;
  }

  .section_text {
    width: 40%;
  }

  .section_text h1 {
    font-family:
      gg sans bold,
      Arial,
      Helvetica,
      sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #23272a;
    margin: 30px 0px;
  }

  .section_text span {
    font-family:
      gg sans bold,
      Arial,
      Helvetica,
      sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #23272a;
  }
</style>
